<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App de Citas Médicas</title>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Inicio</a></li>

        <li><a href="{% url 'registro' %}">Registro</a></li>

        <li><a href="{% url 'perfil' %}">Perfil</a></li>

        <li><a href="{% url 'editar_perfil' %}">Editar Perfil</a></li>

        <li><a href="{% url 'cambiar_contraseña' %}">Cambiar Contraseña</a></li>

        <li><a href="{% url 'eliminar_cuenta' %}">Eliminar Cuenta</a></li>

        <li><a href="{% url 'notificaciones' %}">Notificaciones</a></li>

        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
        {% endif %}
      </ul>
    </nav>

    {% block content %} {% endblock %}

    <footer>
      <p>&copy; 2025 App de Citas Médicas</p>
    </footer>
  </body>
</html>
