{% extends "base.html" %}

{% block content %}

<h1>* Bienvenido a la aplicación de citas médicas</h1>
<p>* Esta es la página de inicio donde puedes encontrar información sobre la aplicación.</p>
<p>* Aquí puedes registrarte, iniciar sesión, gestionar tu perfil y mucho más.</p>
<p>* Explora las diferentes secciones para conocer todas las funcionalidades disponibles.</p>
<p>* Si tienes alguna duda, no dudes en contactar con el soporte técnico.</p>
<p>* Gracias por usar nuestra aplicación.</p>


{% endblock %}



