{% extends "base.html"%}

{% block content %}
<!-- Contenido principal de la página de inicio -->
<h1 class="text-center mb-4">Bienvenido a la aplicación de citas médicas</h1>

<!-- Información introductoria sobre la aplicación -->
<p class="mb-3">Esta es la página de inicio donde puedes encontrar información sobre la aplicación.</p>
<p class="mb-3">Aquí puedes registrarte, iniciar sesión, gestionar tu perfil y mucho más.</p>
<p class="mb-3">Explora las diferentes secciones para conocer todas las funcionalidades disponibles.</p>
<p class="mb-3">Si tienes alguna duda, no dudes en contactar con el soporte técnico.</p>
<p class="mb-3">Gracias por usar nuestra aplicación.</p>

{% endblock %}